name: Deploy Subgraph to DAO QA

on:
  workflow_dispatch: # Manually triggered from GitHub Actions tab
  pull_request:
    types: [labeled] # Triggered by a label in a PR

# Declare default permissions as read only.
permissions: read-all

jobs:
  deploy:
    uses: ./.github/workflows/deploy-template.yml
    with:
      environment: dao-qa
      subgraphId: rootstockcollective-collective-rewards-dao-qa
      networkName: rootstock-testnet
      graphUrl: https://api.studio.thegraph.com/deploy/
      environmentName: dao-qa
    secrets: inherit
